.row-red {
  background-color: rgb(202 21 21 / 27%) !important;
}

.row-green {
  background-color: rgb(16 255 0 / 27%) !important;
}

.row-yellow {
  background-color: rgb(255 227 0 / 27%) !important;
}